@model PrnHomeViewModel

@{
    var title = string.Empty;
    ViewData["Title"] = title;
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 break-word">View PRN</h1>

            <h2 class="govuk-heading-m">Placeholder</h2>
        </div>
    </div>
</main>