<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text">
            <strong class="govuk-tag govuk-tag--yellow">@Localizer["waiting_for_approval"]</strong><br />
            <p>@Localizer["well_email_you"]</p>
        </div>
    </div>
</div>