<div class="account-navbar govuk-clearfix govuk-!-font-size-16">
    @* <span class="account-navbar__organisation-name"> *@
    @*     <strong>@Context.GetClaims().GetOrganisation()</strong> *@
    @* </span> *@
    <ul class="account-navbar__links">
        <li class="account-navbar__links-item">@Context.GetName()</li>
        @* <li class="account-navbar__links-item"> *@
        @*     <a class="account-navbar__links-link govuk-link govuk-link--no-visited-state" href="#">Manage account</a> *@
        @* </li> *@
        @* <li class="account-navbar__links-item"> *@
        @*     <a class="account-navbar__links-link govuk-link govuk-link--no-visited-state" href="#">Sign out</a> *@
        @* </li> *@
    </ul>
</div>