@model List<ErrorViewModel>?

@if (Model is not null)
{
    for (var i = 0; i < Model.Count; i++)
    {
        <p id="error-@(Model[i].Key+i.ToString())" class="govuk-error-message">
            <span class="govuk-visually-hidden">@SharedLocalizer["hidden_error"]</span> @Model[i].Message
        </p>
    }
}