@{
    ViewData["Title"] = Localizer["SignedOut.Title"];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                    @Localizer["SignedOut.Title"]
                </h1>
                <p class="govuk-body">@Localizer["SignedOut.Description"]</p>
            </div>
        </div>
    </main>
</div>